<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--<servlet>
        <servlet-name>AgregarHechoServlet</servlet-name>
        <servlet-class>org.example.AgregarHechoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarHechoServlet</servlet-name>
        <url-pattern>/agregar-hecho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BorrarHechoServlet</servlet-name>
        <servlet-class>org.example.BorrarHechoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrarHechoServlet</servlet-name>
        <url-pattern>/Borrar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuscarHechoServlet</servlet-name>
        <servlet-class>org.example.BuscarHechoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarHechoServlet</servlet-name>
        <url-pattern>/buscar-hecho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuscarHechosServlet</servlet-name>
        <servlet-class>org.example.BuscarHechosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarHechosServlet</servlet-name>
        <url-pattern>/buscarHechos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CargarModificarHechoServlet</servlet-name>
        <servlet-class>org.example.CargarModificarHechoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarModificarHechoServlet</servlet-name>
        <url-pattern>/cargar-modificar-hecho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InicializarCasosServlet</servlet-name>
        <servlet-class>org.example.InicializarCasosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicializarCasosServlet</servlet-name>
        <url-pattern>/inicializarCasos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListarHechosMServlet</servlet-name>
        <servlet-class>org.example.ListarHechosMServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarHechosMServlet</servlet-name>
        <url-pattern>/listar-hechosM</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListarHechosServlet</servlet-name>
        <servlet-class>org.example.ListarHechosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarHechosServlet</servlet-name>
        <url-pattern>/listar-hechos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModificarHechoServlet</servlet-name>
        <servlet-class>org.example.ModificarHechoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificarHechoServlet</servlet-name>
        <url-pattern>/modificar-hecho</url-pattern>
    </servlet-mapping>-->

</web-app>
