<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>HechoServlet</servlet-name>
        <servlet-class>com.tu_proyecto.servlets.HechoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HechoServlet</servlet-name>
        <url-pattern>/listar-hechos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AgregarHechoServlet</servlet-name>
        <servlet-class>com.tu_proyecto.servlets.AgregarHechoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AgregarHechoServlet</servlet-name>
        <url-pattern>/agregar-hecho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuscarHechoServlet</servlet-name>
        <servlet-class>com.tu_proyecto.servlets.BuscarHechoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BuscarHechoServlet</servlet-name>
        <url-pattern>/buscar-hecho</url-pattern>
    </servlet-mapping>

</web-app>
